body{
background-color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
    color: grey;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
   font-family: 'Sixtyfour', monospace;
   color:rgb(1, 155, 1);
    text-align: center;

}

nav{
    font-family: 'VT323', cursive;
    font-weight: 500;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

nav a{
    color: grey;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover{
    color:rgb(1, 155, 1);
}

nav a:active{
    color: white;
}

h2{
    font-family: 'Press Start 2P', cursive;
    color:rgb(1, 155, 1);
    margin-top: 40px;
    text-align: center;
}

section{
    margin-bottom: 40px;    
}

section p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.6;
    color: grey;
}

section a{
    color:blue;
    font-family: 'VT323', cursive;
    font-size: 20px;
}

section a:hover{
    color:cyan;
}

section a:active{
    color:white;
}


